@use 'lib';
//_lib.scss
@use "sass:color";
$foreground: var(--fg);
$background: var(--bg);

@mixin full {
    width: 100%;
    height: 100%;
}
@mixin size{
    width: 100%;
    height: 100%;
}
@mixin size($value){
    width: $value;
    height: $value;
}
@mixin color{
    background-color: var(--bg);
    color: var(--fg);
}
@mixin color($bg: $background,$fg: $foreground){
    background-color: $bg !important;
    color: $fg !important;
}
@mixin border{
    border-color: $color;
    border-style: $style;
}
@mixin border($color: var(--fg),$width: 1px, $style: solid, $radius: 0){
    border-color: $color;
    border-style: $style;
    border-width: $width;
    border-radius: $radius;
}
@mixin font($family:"cnr", $size){
    $default: "Courier New", "Lucinda Console", monospace;
    $selected: "";
    @if $family{
        @if $family == "cprime"{
            /*font-family: "Courier Prime", "Courier New", "Lucinda Console", monospace;*/
            font-family: "Courier Prime", $default;
            $selected: "Courier Prime";
        } @else if $family == "ocra"{
            font-family: "OCR-A","Lucinda Console","Courier New",monospace;
        }@else if $family == "vt323"{
            font-family: "VT323","Lucinda Console","Courier New",monospace;
        }@else if $family == "cnr"{
            font-family: "Code New Roman","Lucinda Console","Courier New",monospace;
        }@else if $family == "bitwise"{
            font-family: "Bitwise","Lucinda Console","Courier New",monospace;
        }@else if $family == "rnb"{
            font-family: "MxPlus Rainbow100 re.80","Lucinda Console","Courier New",monospace;
        }@else{
            font-family: "Courier New","Lucinda Console",monospace;
        }
    }
    @if $size{
        font-size: $size;
    }
}
@mixin font($family:"cnr"){
    $default: "Courier New", "Lucinda Console", monospace;
    @if $family == "cprime"{
        font-family: "Courier Prime", "Courier New", "Lucinda Console", monospace;
    } @else if $family == "ocra"{
        font-family: "OCR-A","Lucinda Console","Courier New",monospace;
    }@else if $family == "vt323"{
        font-family: "VT323","Lucinda Console","Courier New",monospace;
    }@else if $family == "cnr"{
        font-family: "Code New Roman",$default;
    }@else if $family == "bitwise"{
        font-family: "Bitwise","Lucinda Console","Courier New",monospace;
    }@else if $family == "rnb"{
        font-family: "MxPlus Rainbow100 re.80","Lucinda Console","Courier New",monospace;
    }@else{
        font-family: "Courier New","Lucinda Console",monospace;
    }
}
@mixin anim($name){
    animation:  box-sadow 3s infinite;
}
@mixin screen{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
@function cborder($width,$style){
    @return $width $style var(--fg);
}

